{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Faculty Performance Monitoring{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}">
    🎓 Faculty Performance Monitoring
  </a>
</div>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}